<div class="list-container">
  <div>
    <h2>Todo List</h2>
  </div>
  <div>
    @if (loading()) {
    <div class="col-sm-12 center">
      <div class="spinner-border text-info" role="status">
        <span class="sr-only"></span>
      </div>
    </div>

    } @else {
      <div class="col-sm-12">
          <div>
              @for (toDoListItem of toDoListItems(); track toDoListItem.id) {
                <div class="row col-sm-12 card p-2 mb-4">
                    <div class="row col-sm-12">
                      <div class="col-sm-10 card-title">
                        <user [currentUser]="toDoListItem.user"></user>
                      </div>
                      <div class="col-sm-2">
                        <input type="button" class="btn btn-success" value="Add" (click)="onAdd(toDoListItem)" />
                      </div>
                    </div>
                    <div class="card-body">
                      <div>
                        <div class="row col-sm-12">
                          <span class="row col-sm-12 mb-2">
                            <strong class="col-sm-3">Task</strong>
                            <strong class="col-sm-4">Description</strong>
                            <strong class="col-sm-2">Completed</strong>
                            <strong class="col-sm-2"></strong>
                          </span>
                        </div>
                        @if (newTask().toDoListId === toDoListItem.id) {
                          <add-edit-task mode="add" [task]="newTask()" (cancelTriggered)="onCancel()" (saveTriggered)="onSave($event)"></ add-edit-task>
                        }
                        @for (task of toDoListItem.tasks; track task.id) {
                        <div class="row col-sm-12 mb-2">
                          <task [task]="task" (deleteTriggered)="onDelete($event)"></task>
                        </div>
                        }
                      </div>
                    </div>
                </div>
              }
          </div>
      </div>
    }
  </div>
</div>
